body {
    margin: 0px;
}

.header_row {
    border: solid;
    border-width: 1px 0px;
    border-color: grey;
}

.header_inner {
    max-width: 100%;
}

.header_row {
    position: relative;
    top: 0px;
    height: 45px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    /*↑header_spacerのwidth100%と組み合わせることによって、左右にボタンが寄る*/
}

.header_brand {
    position: relative;
    left: 0px;
}

.header_brand a {
    /*a要素がはみ出る、他のも修正してほしい*/
    display: block;
    height: 45px;
}

.header_spacer {
    width: 100%;
    display: flex;
    margin-right: 10px;
}

.header_login_now{
    margin-left: 10px;
    width: 14%;
    display: flex;
    justify-content: space-evenly;
}

.search_bar {
    margin: auto;
    margin-left: 5px;
    width: 100%;
    position: relative;
}

.search_text {
    float: left;
    width: 100%;
    height: 25px;
}

.search_button {
    float: left;
    position: absolute;
    /*何もしないでabsoluteだとページ全体からになるけど、親要素がrelativeだと親要素からになる*/
    right: 0px;
    top: 3px;
}

.category_navigation {
    display: flex;
    width: 100%;
    height: 45px;
    border-bottom: 1px solid;
    border-color: grey;
}

.category_navigation_list ul {
    display: flex;
    list-style: none;
    margin: 0px;
    padding: 0px;
    height: 45px;
    overflow: hidden;
}

.category_navigation_list li {
    flex-wrap: nowrap;
    justify-content: left;
    float: left;
    height: 45px;
}

.category_navigation_list li a {
    display: block;
    padding: 0px 16px;
    height: 45px;
    margin: 0px;
    line-height: 45px;
}
a:link {
	/* 文字色を#3c454dに設定する */
	color				:	#3c454d;
}

/* ナビゲーションのリンク（訪問済み）のスタイル設定 */
a:visited {
	/* 文字色を#3c454dに設定する */
	color				:	#3c454d;
}

/*アニメーション終了後のスタイル*/
a:hover {
	/* 文字色をwhiteに設定する */
	color				:	white;
	/*背景色を#ff1493に設定する */
	background-color	:	#ff1493;
}