main {
    position: relative;
    top: 10px;
}

body {
    font-family: 'Hachi Maru Pop', cursive;
    font-weight: 100;
}

footer {
    height: 100px;
    box-sizing: border-box;
    text-align: center;
}

.copy_right {
    width: auto;
    display: inline-block;
    padding-top: 50px;
    text-align: center;
}

.message {
    color: rgb(223, 43, 43);
}