/*商品一覧表示なのでindex.cssからは移す*/

.item_flexbox {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 35px;
}

.item_content {
    width: 250px;
    height: auto;
    margin-top: 20px;
    padding-left: 20px;
}

.content_img {
    position: relative;
}

.content_img img {
    text-align: center;
    border-radius: 20px;
}

.sale_images {
    position: absolute;
    left: 0px;
    top: 0px;
}

.goods_name {
    width: 200px;
    padding: 5px 5px;
    border-bottom: 1px solid grey;
}

.price_row {
    display: flex;
    justify-content: space-between;
    width: 200px;
    padding: 5px 5px;
}

.price,
.price_spacer,
.dis_ratio {
    display: flex;
    box-sizing: border-box;
}

.price {}

.price_spacer {}

.dis_ratio {
    color: #45db90;
}

.review_count {
    text-align: right;
    width: 200px;
}

.more_than {
    width: 200px;
    color: #d833cf;
}