.goods_left {
    display: inline-block;
    width: 350px;
    margin: 0px;
    padding: 30px;
    position: relative;
    left: 20px;
}
.goods_left img{
    text-align: center;
}

.goods_right {
    display: inline-block;
    vertical-align: top;
    position: relative;
    left: 50px;
    margin: 0px;
    margin-top: 20px;
    border: 1px solid;
    padding: 20px;
    width: 450px;
}

.price {
    display: inline-block;
    margin-right: 5px;
}
