.goods_left {
    display: inline-block;
    width: 300px;
    margin: 0px;
    position: relative;
    left: 20px;
}

.goods_right {
    display: inline-block;
    vertical-align: top;
    position: relative;
    left: 50px;
    margin: 0px;
}

.price {
    display: inline-block;
    margin-right: 5px;
}